<section class="property-binding">
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImage }}"> <br>
        <img [src]="urlImage"> <br>
        <img bind-src="urlImage"> <br>
        <!-- 
            Dessa forma o angular ja reconhece o property binding, sem precisar da interpolação
            e dentro das aspas pode colocar um método ou atributo
        -->
        <a [href]='linkGoogle' target="_blank" >Google</a>
    </article>
</section>