<!-- <section class="property-binding">
     <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImage }}"> <br>
        <img [src]="urlImage"> <br>
        <img bind-src="urlImage"> <br> -->
    <!-- 
            Dessa forma o angular ja reconhece o property binding, sem precisar da interpolação
            e dentro das aspas pode colocar um método ou atributo
        -->
    <!-- <a [href]='linkGoogle' target="_blank" >Google</a>
    </article> 

    <article>
        <h3>Class e Style Binding</h3>

        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-secondary">Secundario</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
                <option value="alert-dark">Escuro</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme o valor do combobox.
            </div>

            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
                A simple success alert—check it out!
            </div>

            <div class="alert" role="alert" [class.alert-secondary]="classe.value == 'alert-secondary'">
                A simple secondary alert—check it out!
            </div>

            <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
                A simple warning alert—check it out!
            </div>

            <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
                A simple info alert—check it out!
            </div>

            <div class="alert" role="alert" [class.alert-dark]="classe.value == 'alert-dark'">
                A simple dark alert—check it out!
            </div>

            <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
                Erro
            </div>

            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto somente aparece em caso de erro. 
            </div>
        </div>
    </article>

    <button type="button" class="btn btn-primary"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Simple demo
    </button>

</section> -->

<section class="event-binding">

    <article>
        <h3>Event binding</h3>

        <div>
            <button (click)="botaoClicado()" 
                class="btn btn-primary">Me clique</button>

            <br><br>

            <input type="text"
                (keyup)="onKeyUp($event)"
                >
            
            <br>
            <input type="text" #myInput 
                (keyup.enter)="salvarValor(myInput.value)"
                (blur)="salvarValor(myInput.value)">

            <!-- Property binding -->
            <p>Valor atual: {{ valorAtual }}</p>
            <p>Valor salvo: {{ valorSalvo }}</p>

            <br>
            <span
                (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.highlight]="isMouseOver">
                Passe o mouse sobre mim
            </span>
        </div>
    </article>
</section>